// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  padding: 0;
  margin: 0;
  display: flex;
}

.clue_tile,
.play_tile {
  background: grey;
  padding: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.play_tile:hover {
  background: black;
}

.selected {
  background: tomato;
}
