// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  float: left;
}

.column {
  float: right;
}

.grid {
  float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.flex-container {
  padding: 0;
  margin: 0;
  
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;

  min-height: 52px;
  min-width: 52px;
}

.flex-container-vertical {
  padding: 0;
  margin: 0;
  
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;

  min-height: 52px;
  min-width: 52px;
}

.flex-item {
  background: darkgrey;
  padding: 5px;
  width: 40px;
  height: 40px;
  margin: 1px;
  
  line-height: 40px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.play-cell:hover {
  background: tomato;
}

.selected {
  //background: darkblue;
}

.clue-cell {
  background: grey;
}

.board-status {
  padding: 5px;
  color: grey;
  font-size: 2em;
}

button {
  background: darkblue;
  padding: 5px;
  color: white;
  font-size: 2em;
}

.highlight {
  background: black;
}

.selected-color-picker {
  border: 2px solid #dadada;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.color-picker-container {
  display: flex;
}
